*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --pricipal-color: #084B8A;
}

.center{
  width: 100%;
  max-width: 1400px;
  padding: 0 2%;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

html,body{
  width: 100%;
  height: 100%;
  background: #cecef6;
}

main#main{
  width: 100%;
  height: 100%;
}

header .logo a{
  display: block;
  height: 100px;
}

header .center a img{
  width: 140px;
  position: relative;
  top: -20px;
}

header .center:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Desktop */

header #nav-desktop{
  background-color: var(--pricipal-color);
  padding: 20px;
  position: relative;
  top: -5px;
}

header #nav-desktop ul{
  list-style: none;
  display: flex;
}

header #nav-desktop ul li{
  padding: 0 30px;
}

header #nav-desktop ul li a{
  color: #cfcdcd;
  text-decoration: none;
  font-size: 15px;
}

header #nav-desktop ul li a:hover{
  color: #fff;
}

header #nav-desktop ul:nth-of-type(2) li:nth-of-type(1) a{
  text-decoration: underline;
}

header #nav-desktop ul:nth-of-type(2) li:nth-of-type(2){
  padding: 0 10px;
}

header #nav-desktop ul:nth-of-type(2) li:nth-of-type(2) a{
  padding: 10px 15px;
  background-color: white;
  color: var(--pricipal-color);
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
  transition: color .5s, background .5s;
}

header #nav-desktop ul:nth-of-type(2) li:nth-of-type(2) a:hover{
  background-color: transparent;
  color: white;
}

/* Nav mobile */

header #nav-mobile{
  display: none;
  position: relative;
  top: -10px;
}

header #nav-mobile i{
  position: absolute;
  right: 20px;
  top: -50px;
  font-size: 30px;
  color: var(--pricipal-color);
  cursor: pointer;
}

header #nav-mobile ul{
  width: 100%;
  height: 0;
  opacity: 1;
  overflow: hidden;
  transition: height .5s linear;
  position: absolute;
}

header #nav-mobile ul.n-nav{
  height: 280px;
}

header #nav-mobile ul li{
  width: 100%;
  text-align: center;
  background-color: var(--pricipal-color);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: background-color .4s;
}

header #nav-mobile ul li:hover,
header #nav-mobile ul li:nth-child(6):hover{
  background-color: transparent;
}

header #nav-mobile ul li:nth-child(6){
  background-color: #2269ac;
}

header #nav-mobile ul li a{
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  transition: color .4s;
  padding: 12px 0;
}

header #nav-mobile ul li a:hover{
  color: var(--pricipal-color);
}

/* Simulador */

#simulador{
  max-width: 1000px;
  margin: 40px auto;
  background: url('img/banner.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-radius: 25px;
}

#simulador h1{
  color: white;
  font-size: 40px;
}

#simulador form{
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  width: 100%;
}

#simulador form .w50,
#simulador form .date,
#simulador form .pessoas{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

#simulador form .w50{
  width: 22%;
}

#simulador form .w50 label,
#simulador form .date label,
#simulador form .pessoas label{
  margin-bottom: 5px;
  font-weight: bold;
}

#simulador form .w50 input,
#simulador form .pessoas input{
  padding: 15px 10px;
  border-radius: 10px;
  border: 3px solid #084B8A;
  outline: none;
  font-size: 14px;
}

#simulador form .date{
  margin-left: 50px;
  width: 20%;
}

#simulador form .date input{
  padding: 11px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #084B8A;
  outline: none;
  background:white url('img/calendar.png') no-repeat 90%;
  font-size: 14px;
}

#simulador form .date input::-webkit-calendar-picker-indicator{
  width: 22px;
  height: 22px;
  opacity: 0;
}

#simulador form .pessoas input::-webkit-inner-spin-button{
  height: 40px;
}

#simulador form .procurar{
  margin-left: 35px;
  width: 17%;
}

#simulador form .procurar button{
  padding: 18px 15px;
  border-radius: 10px;
  border: none;
  background: var(--pricipal-color);
  color: white;
  cursor: pointer;
  outline: none;
  transition: background .5s,color .5s;
  font-weight: bold;
  position: relative;
  top: 13px;
  font-size: 14px;
}

#simulador form .procurar button:hover{
  background: white;
  color: var(--pricipal-color);
}

/* Passagens */

#passagens{
  width: 100%;
  padding: 30px;
  background-color: royalblue;
  border-radius: 20px 0px 20px 0px;
}

#passagens .flex{
  width: 100%;
  justify-content: space-between;
}

#passagens .flex .p-box{
  width: 22%;
  background: white;
  border: 1px solid white;
}

#passagens .flex .p-box .p-img{
  width: 100%;
  height: 200px;
  opacity: .8;
  transition: all 1s;
}

#passagens .flex .p-box .dubai{
  background: url('img/passagens/p1.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#passagens .flex .p-box .nova{
  background: url('img/passagens/p2.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#passagens .flex .p-box .salvador{
  background: url('img/passagens/p3.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#passagens .flex .p-box .maceio{
  background: url('img/passagens/p3.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#passagens .flex .p-box:hover{
  box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.63);
}

#passagens .flex .p-box:hover .p-img{
  background-size: 120% 120%;
  opacity: 1;
}

#passagens .flex .p-box .p-desc{
  padding: 10px;
}

#passagens .flex .p-box .p-desc h1{
  font-size: 23px;
}

#passagens .flex .p-box .p-desc p{
  padding: 3px 0;
}

#passagens .flex .p-box .p-desc .flex{
  justify-content: initial;
}

#passagens .flex .p-box .p-desc .flex h1{
  padding-left: 5px;
  font-size: 30px;
}

#passagens .flex .p-box button{
  padding: 8px 10px;
  border: none;
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  transition: background-color .5s;
}

#passagens .flex .p-box button:hover{
  background-color: black;
}

/* Pacotes */

#pacotes{
  width: 100%;
  border-radius: 20px 0px 20px 0px;
  margin: 30px 0;
  background: url('https://cdn.pixabay.com/photo/2016/08/11/23/48/italy-1587287_960_720.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 20px;
  height: 460px;
}

#pacotes .flex{ 
  width: 100%;
  justify-content: space-between;
}

#pacotes .flex h1{ 
  width: 26%;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
}

#pacotes .flex .pa-box{
  width: 22%;
  height: 340px;
  background-color: white;
  transition: height .5s;
}

#pacotes .flex .pa-box:hover{
  height: 420px;
}

#pacotes .flex img{
  width: 100%;
  height: 160px;
}

#pacotes .flex .pa-desc{
  padding: 10px;
}

#pacotes .flex .pa-desc h1{
  font-size: 25px;
  text-shadow: none;
  color: black;
}

#pacotes .lorem{
  visibility: hidden;
  height: 0;
  transition: all .6s;
  opacity: 0;
}

#pacotes .flex .pa-box:hover .lorem{
  visibility: visible;
  height: 90px;
  transition: all .6s;
  opacity: 1;
  transition: all .6s;
}


#pacotes .flex .pa-box .pa-desc p{
  padding: 3px 0;
}

#pacotes .flex .pa-box .pa-desc .flex{
  justify-content: initial;
}

#pacotes .flex .pa-box .pa-desc .flex h1{
  padding-left: 5px;
  font-size: 30px;
}

#pacotes .flex .pa-box button{
  padding: 8px 10px;
  border: none;
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  transition: background-color .5s;
}

#pacotes .flex .pa-box button:hover{
  background-color: black;
}

#hoteis{
  padding: 20px;
  width: 100%;
  background-color: royalblue;
  border-radius: 20px 0px 20px 0px;
}

#hoteis .flex .ho-box{
  width: 30%;
  height: 190px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: 0 1.6%;
}

#hoteis .flex .ho-box .no-flex{
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
}

#hoteis .flex .ho-box .flex-desc{
  width: auto;
  flex-wrap: nowrap;
}

#hoteis .flex .ho-box img{
  width: 60%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  transition: width .7s;
}

#hoteis .flex .ho-box:hover img{
  width: 50%;
}

#hoteis .flex .ho-box .ho-desc{
  padding: 10px;
}

#hoteis .flex .ho-box .ho-desc h1{
  font-size: 23px;
}

#hoteis .flex .ho-box .ho-desc h2{
  margin-left: 20px;
}

#hoteis .flex .ho-box .ho-desc2{
  display: none;
  opacity: 0;
  transition: all .7s;
  padding-top: 10px;
  padding-left: 10px;
}

#hoteis .flex .ho-box .ho-desc2 h3,
#hoteis .flex .ho-box .ho-desc2 p{
  font-size: 15px;
}

#hoteis .flex .ho-box:hover .ho-desc2{
  opacity: 1;
  display: block;
}

#hoteis .flex .ho-box button{
  padding: 8px 10px;
  border: none;
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  transition: background-color .5s;
  position: absolute;
  bottom: 10px;
  right: 15px;
  transition: right .7s;
}

#hoteis .flex .ho-box button:hover{
  background-color: black;
}

#hoteis .flex .ho-box:hover button{
  right: 40px;
}

footer{
  width: 100%;
  background-color: var(--pricipal-color);
  margin-top: 40px;
  color: white;
  padding: 60px 0;
  position: relative;
}

footer .flex .footer-box{
  text-align: center;
  margin: 0 8%;
}

footer .flex .footer-box img{
  width: 40px;
  margin: 0 10px;
}

footer .flex .footer-box h1{
  font-size: 22px;
  margin-bottom: 20px;
}

footer .flex .footer-box h3{
  text-align: left;
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 5px;
}

footer .flex .footer-box h3 img{
  width: 15px;
  margin-right: 5px;
}

footer .flex .seguro{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: normal;
}

footer .flex .seguro img{
  width: 18px;
  margin-left: 4px;
  margin-bottom: -2px;
}

/* Carros */

#carros{
  background-color: #9F81F7;
  padding: 20px;
  width: 100%;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: inset 0px 0px 293px -121px rgba(0,0,0,0.2);
}

#carros .flex{
  flex-wrap: nowrap;
}

#carros .flex h1{
  width: 30%;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 3px black;
}

#carros .flex .ca-box{
  width: 24%;
  margin: 0 1%;
  border-radius: 15px;
}

#carros .flex .ca-box:hover{
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

#carros .flex .ca-box a{
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#carros .flex .ca-box img{
  width: 100%;
  height: 75%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: -5px -5px -5px rgba(0,0,0,0.63);
}

#carros .flex .ca-box h1{
  text-shadow: none;
  font-size: 22px;
  width: 100%;
  height: 25%;
  text-align: center;
  padding: 10px;;
  background-color: black;
  margin: 0;
  border-radius: 0px 0px 15px 15px;
}

#cruzeiro{
  padding: 30px;
  background-color: royalblue;
  border-radius: 20px 0px 20px 0px;
  width: 100%;
}

#cruzeiro .flex .cru-box{
  width: 23%;
  margin: 0 1%;
  background-color: white;
  border: 1px solid black;
}

#cruzeiro .flex .cru-box:hover{
  box-shadow: 1px 1px 5px rgba(0,0,0,0.63);
}

#cruzeiro .flex .cru-box .cru-img{
  height: 170px;
  transition: background-size .7s;
}

#cruzeiro .flex .cru-box .argentina{
  background: url('img/cruzeiros/c1.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#cruzeiro .flex .cru-box .florianopolis{
  background: url('img/cruzeiros/c2.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#cruzeiro .flex .cru-box .cabo-frio{
  background: url('img/cruzeiros/c3.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#cruzeiro .flex .cru-box .buzios{
  background: url('img/cruzeiros/c4.jpeg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#cruzeiro .flex .cru-box:hover .cru-img{
  background-size: 120% 120%;
}

#cruzeiro .flex .cru-box .cru-desc{
  padding: 10px;
}

#cruzeiro .flex .cru-box .cru-desc h1{
  font-size: 22px;
}

#cruzeiro .flex .cru-box .cru-desc .preco{
  margin: 5px 0;
}

#cruzeiro .flex .cru-box .cru-desc .preco h1{
  font-size: 30px;
  margin-left: 5px;
}

#cruzeiro .flex .cru-box button{
  padding: 8px 10px;
  border: none;
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  transition: background-color .5s;
}

#cruzeiro .flex .cru-box button:hover{
  background-color: black;
}

/* Responsive */

@media screen and (max-width: 1011px){
  #simulador{
    max-width: 800px;
  }

  #simulador form .w50{
    width: 50%;
    padding: 0 10px;
  }

  #simulador form .date{
    width: 30%;
    margin: 0;
  }

  #simulador form .date input{
    min-width: 170px;
    width: 100%;
  }

  #simulador form .pessoas{
    width: 15%;
    margin-left: 4%;
  }

  #simulador form .procurar{
    width: 30%;
    margin-left: 10%;
  }

  #pacotes{
    margin-bottom: 60px;
  }

  #pacotes .flex .pa-titulo{ 
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
  }

  #pacotes .flex .pa-box{
    width: 30%;
  }
  
  #hoteis .flex .ho-box{
    width: 31%;
    margin: 0 1%;
  }
  
  #hoteis .flex .ho-box:hover img{
    width: 60%;
  }
  
  #hoteis .flex .ho-box:hover .ho-desc2{
    opacity: 0;
    display: none;
  }
  
  #hoteis .flex .ho-box button{
    right: 5px;
    padding: 8px;
  }

  #hoteis .flex .ho-box:hover button{
    right: 5px;
  }
  
  #carros .flex{
    flex-wrap: wrap;
  }
  
  #carros .flex h1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #carros .flex .ca-box{
    width: 30%;
    margin: 0 1.6%;
  }

  footer .flex .footer-box{
    margin: 0 6%;
  }

  footer .flex .footer-box h1{
    font-size: 20px;
  }
  
  footer .flex .footer-box h3{
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  header .logo a{
    margin: 0 auto;
  }

  header .logo a img{
    width: 120px;
  }
  
  header #nav-desktop{
    display: none;
  }

  header #nav-mobile{
    display: block;
  }

  #simulador h1{
    font-size: 35px;
  }

  #passagens .flex .p-box{
    width: 40%;
    margin: 5%;
  }

  #pacotes{
    margin-bottom: 40px;
    height: auto;
  }

  #pacotes .flex{
    justify-content: center;
  }

  #pacotes .flex .pa-box{
    width: 35%;
    margin: 40px;
  }

  #pacotes .flex .pa-box:hover{
    height: 340px;
  }

  #pacotes .flex .pa-box:hover .lorem{
    visibility: hidden;
    height: 0;
    opacity: 0;
  }

  #hoteis .flex{
    justify-content: center;
  }

  #hoteis .no-flex{
    justify-content: initial;
  }

  #hoteis .flex .ho-box{
    width: 45%;
    margin: 20px 2%;
  }

  #carros .flex h1{
    font-size: 25px;
  }

  #cruzeiro .flex .cru-box{
    width: 40%;
    margin: 30px  auto;
  }

  footer .flex .footer-box{
    margin: 0 auto;
  }
}

@media screen and (max-width: 693px) {
  #simulador h1{
    font-size: 30px;
  }
  
  #simulador form .pessoas{
    width: 18%;
    margin-left: 50px;
  }

  #simulador form .procurar{
    width: 40%;
    margin: 0;
  }

  #pacotes .flex .pa-titulo{
    font-size: 30px;
  }

  #passagens .flex .p-box{
    width: 60%;
    margin: 30px auto;
  }

  #pacotes .flex .pa-box{
    width: 60%;
    margin: 40px 10px;
  }

  #hoteis .flex .ho-box{
    width: 80%;
    margin: 30px 0;
  }

  #hoteis .flex .ho-box button{
    right: 30px;
  }

  #hoteis .flex .ho-box:hover button{
    right: 30px;
  }

  #carros .flex .ca-box h1{
    font-size: 18px;
  }

  #carros .flex h1{
    font-size: 22px;
  }

  #cruzeiro .flex .cru-box{
    width: 45%;
    margin: 30px  auto;
  }

  footer{
    padding: 30px 0;
  }

  footer .flex .footer-box{
    width: 100%;
    margin: 20px auto;
  }

  footer .flex .footer-box h1{
    font-size: 20px;
  }
  
  footer .flex .footer-box h3{
    text-align: center;
    margin: 7px 0;
  }
}

@media screen and (max-width: 500px) {
  #simulador h1{
    font-size: 25px;
    text-align: center;
  }
  
  #simulador form .w50{
    width: 100%;
    padding: 10px;
  }

  #simulador form .date{
    width: 70%;
  }

  #simulador form .pessoas{
    width: 27%;
    margin-left: 3%;
  }

  #simulador form .procurar{
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }

  #passagens .flex .p-box{
    width: 90%;
    margin: 30px auto;
  }

  #pacotes .flex .pa-box{
    width: 80%;
    margin: 40px 10px;
  }

  #hoteis .flex .ho-box{
    width: 90%;
    margin: 30px 0;
  }

  #hoteis .flex .ho-box button{
    right: 15px;
  }

  #hoteis .flex .ho-box:hover button{
    right: 15px;
  }

  #carros .flex .ca-box{
    width: 70%;
    margin: 20px auto;
  }

  #cruzeiro .flex .cru-box{
    width: 80%;
    margin: 30px  auto;
  }
}